.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  font-family: inherit;
  font-size: 16px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  color: #fff;
  border-radius: 6px;
  padding: 10px 20px;
  width: 100%;
  max-width: 324px;
  height: auto;
  background-color: transparent;
  transition: border-color 0.25s ease;

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.4;
    color: #e4e4e4;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: #6979f8;
  }
}