.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(35, 35, 35, 0.507);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 8px;
}

.image {
  border-radius: 8px;
  object-fit: contain;
}