@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v29-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v29-latin-500.woff2') format('woff2');
}

:root {
  --font-family: "Montserrat", sans-serif;
  --line-height: 1.5;
  --color: #e4e4e4;
  --background-color: #171717;

  --button-text-color: #fff;
  --button-bg-color: #6979f8;

  --hover-button-bg-color: rgb(153, 158, 255);
  --hover-border-color: #6979f8;

  --input-border-color: rgba(228, 228, 228, 0.6);
  --input-text-color: #fff;

  --error-text-color: #ff647c;

  --modal-bg-color: rgba(35, 35, 35, 0.7);
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--color);
}

button {
  border: none;
  border-radius: 6px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: var(--hover-button-bg-color);
  }
}